@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

:root {
    --dark: #1f2937;
    --white: #f9faf8;
    --grey: #e5e7eb;
    --blue: #3882f6;
}

body {
    font-family: Roboto , sans-serif;
    display:flex;
    flex-direction: column;
    max-width:100vw;
}

.header {
    background-color: var(--dark);
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: var(--white);
}
ul, li ,a {
    margin:0;
    padding:0;
}

ul {
    font-size:18px;
    list-style-type: none;
    display:flex;
    gap:20px;
}

a {
    text-decoration: none;
    color: var(--grey);
}

.hero {
    background-color: var(--dark);
    display:flex;
    align-items: center;
}

.hero .main-text {
    color: var(--white);
    font-size: 48px;
    font-weight: 900;
}

.hero .secondary-text{
    color: var(--grey);
}

button {
    background-color: var(--blue);
    color: var(--white);
}

.count {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.images {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:32px;
}

.count-header {
    font-size: 36px;
    font-weight: 900;
    color: var(--dark);
}

.quote {
    background-color:var(--grey);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-text {
    font-size: 36px;
    font-style:italic;
    font-weight: 300;
    color: var(--dark);
}

.writer {
    font-weight:bold;
    font-size:24px;
    display:flex;
    justify-content: end;
}

.sign-up-box {
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-up .main {
    font-size: 24px;
    color:var(--white);
}

.sign-up .secondary {
    font-size:18px;
    color:var(--grey);
}

.footer {
    background-color: var(--dark);
    color: var(--grey);
    display:flex;
    align-items: center;
    justify-content: center;
}